<div class="card">
  <div class="image-wrapper">
    <img [src]="artist.image" [alt]="artist.name" 
         onerror="this.src='assets/img/placeholder.jpg'">
  </div>
  
  <div class="card-content">
    <span class="category-badge">{{ artist.specialty }}</span>
    
    <h3>{{ artist.name }}</h3>
    
    <p class="location-text" *ngIf="artist.location">{{ artist.location }}</p>
    
    <p>{{ artist.bio }}</p>
    
    <a [href]="artist.portfolioUrl || '#'" target="_blank" class="btn-ver-mais">
  Ver Portfólio
</a>
  </div>
</div>