<div class="login-container">
    <div class="login-card">
      <div class="header">
        <h1>Vozes do Interior</h1>
        <p>A raiz é a base da arte.</p>
      </div>
  
      <form>
        <div class="input-group">
          <label for="email">E-mail</label>
          <input type="email" id="email" placeholder="seu@email.com" required>
        </div>
  
        <div class="input-group">
          <label for="password">Senha</label>
          <input type="password" id="password" placeholder="Sua senha secreta" required>
        </div>
  
        <button type="button" (click)="login()" class="btn-entrar">Entrar / Florescer</button>
      </form>
  
      <div class="footer-login">
        <p>Ainda não tem raízes aqui?</p>
        <a routerLink="/cadastro">Cadastre-se</a>
      </div>
    </div>
  </div>