:host {
  --cor-destaque-verde: #56704B;
  --cor-fundo-claro: #EFE5D5;
  --cor-texto-escuro: #3E3223;
  --cor-card-home: #D2B48C;
}

.hero-section {
  width: 100%;
  border-bottom: 4px solid var(--cor-destaque-verde); /* Linha verde separando */
}

.about-section {
  background-color: var(--cor-fundo-claro);
  color: var(--cor-texto-escuro);
  padding: 4rem 2rem;
  text-align: center;
}

.content-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

h2 {
  font-family: 'Cinzel', serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--cor-destaque-verde);
  margin-bottom: 10px;
}

.divider {
  width: 80px;
  height: 4px;
  background-color: var(--cor-destaque-verde);
  margin: 0 auto 30px auto;
  border-radius: 2px;
}

p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 20px;
  color: #6B5B45; 
}

strong {
  color: var(--cor-destaque-verde);
}

.cards-intro {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.card {
  background-color: var(--cor-card-home);
  padding: 25px;
  border-radius: 12px;
  flex: 1;
  min-width: 250px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  border: 1px solid #B09474;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  border-color: var(--cor-destaque-verde);
}

.icon {
  font-size: 2.5rem;
  display: block;
  margin-bottom: 15px;
}

.card h3 {
  color: #2B4220;
  margin-bottom: 10px;
  font-family: 'Cinzel', serif;
}

.card p {
  font-size: 0.95rem;
  color: #3E3223;
}