html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    h1 {
      font-size: 2rem !important;
    }
  
    h2 {
      font-size: 1.8rem !important;
    }
    
    h3 {
      font-size: 1.5rem !important;
    }
  
    p {
      font-size: 1rem !important;
      text-align: justify;
      
    }

    .container {
      padding: 0 15px !important;
      width: 100% !important;
    }

    .gallery-grid, 
    .grid-container, 
    .contact-grid, 
    .about-grid, 
    .footer-content {
      display: grid !important;
      grid-template-columns: 1fr !important;
      gap: 2rem !important;
    }
  
    .auth-container, .form-card {
      max-width: 90% !important;
      padding: 1.5rem !important;
    }

    .big-logo {
      font-size: 1.8rem !important;
      letter-spacing: 0 !important;
    }

    .carousel-container, .banner-area {
      height: 250px !important;
    }
    
    .caption h3 {
      font-size: 1.8rem !important;
    }
    
    .caption {
      left: 20px !important;
      bottom: 40px !important;
      width: 80% !important;
    }

    .prev, .next {
      padding: 10px !important;
      width: 40px !important;
      height: 40px !important;
      font-size: 1.2rem !important;
    }
  }